{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>Zhat</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" >

  </head>
  <style>
      .container{max-width:1170px; margin:auto;}
      img{ max-width:100%;}
      .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%; border-right:1px solid #c4c4c4;
      }
      .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
      }
      .top_spac{ margin: 20px 0 0;}


      .recent_heading {float: left; width:40%;}
      .srch_bar {
        display: inline-block;
        text-align: right;
        width: 100%;
        padding : 0px
      }

      .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

      .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
      }
      .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
      .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
      }
      .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

      .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
      .chat_ib h5 span{ font-size:13px; float:right;}
      .chat_ib p{ font-size:14px; color:#989898; margin:auto}
      .chat_img {
        float: left;
        width: 11%;
      }
      .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
      }

      .chat_people{ overflow:hidden; clear:both;}
      .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
      }
      .inbox_chat { height: 350px; overflow-y: scroll;}
      .element::-webkit-scrollbar { width: 0 !important }


      .active_chat{ background:#ebebeb;}

      .incoming_msg_img {
        display: inline-block;
        width: 6%;
      }
      .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
       }
       .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
      }
      .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
      }
      .received_withd_msg { width: 57%;}
      .mesgs {
        float: left;
        padding: 40px 20px 40px 20px;
        width: 50%;
      }

       .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0; color:#fff;
        padding: 5px 10px 5px 12px;
      }
      .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
      .sent_msg {
        float: right;
        width: 46%;
      }
      .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        min-width: 90%;
      }

      .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
      .msg_send_btn {
        background:none repeat scroll 0 0;
        border: medium none;
        color: #042c26;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
      }
      .messaging { padding: 0 0 50px 0;}
      .msg_history {
        height: 516px;
        overflow-y: visible;
      }
  </style>
<body background= "static/images/a.png"">

  <div class="card" style=" width: 370px; height: auto; min-height: 100px; position: fixed; right: 1em; bottom:1em; border-radius: 10px; box-shadow: 0px 2px 10px 1px #b5b5b5">
  <div class="card-header" style="background-color: #c5ccce;border-top-left-radius: 10px;border-top-right-radius:10px;">
    <b><h3 class="text-center" style="font-family: Lusitana; color: #474747;">Zhat</h3></b>
  </div>            
  <div class="row inbox_chat card-body" style="">
    <ul class="bass">
    </ul>
  </div>

  <div class="type_msg " style="margin: 0% ">
    <div class="input_msg_write ">
      <input type="text" class="write_msg js-text" placeholder="Type a message" />
      <button class="msg_send_btn js-say" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    </div>
  </div>
  </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
      var chatterbotUrl = '{% url "chatterbot" %}';
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');
      var $chaterlog = $('.bass');

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');


        $row.text(text);
        $chatlog.append($row);
      }

      function CreateRowFinal(text, text2) {
        var $row = $(' <li class="list-group-item col-md-9" style="float:left;background:#f4f4f4;margin-top:20px; margin-right:100px;border:none"></li><br>');
        var $row2 = $('<li class="list-group-item col-md-9" style="float:right;background:#97f1e4;margin-top:20px;margin-left:100px;border:none"></li><br>');

        $row.text(text);
        $row2.text(text2);

        $chaterlog.append($row,$row2);
      }

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }

        createRow(inputData.text);

        var $submit = $.ajax({
          type: 'POST',
          url: chatterbotUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            createRow(statement.text);

            CreateRowFinal(inputData.text, statement.text);
            $input.val('');

            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });

        $submit.fail(function() {
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {

        if (event.keyCode == 13) {
          submitInput();
        }
      });
    </script>
  </body>
</html>
